name: CD - Frontend Deploy to Dev Server

on:
  workflow_run:
    workflows: ["CI - Frontend CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment:
      name: staging

    steps:
      - name: SSH into Dev Server and Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEV_SSH_HOST }} # μ„λ²„ IP
          username: ${{ secrets.DEV_SSH_USER }} # μ„λ²„ μ μ €
          key: ${{ secrets.DEV_SERVER_KEY }} # κ°μΈν‚¤ in GitHub Secret
          script: |
            echo "π€ deploy-fe.sh μ‹¤ν–‰"
            bash ~/nemo/deploy/deploy-fe.sh